node_modules
npm-debug.log*

.env
.env.*

.git
.github
.gitignore
.idea
.cursor
.vscode
*.swp
*.swo

tests
test-results
coverage
dist
playwright.config.js
eslint.config.js
.prettierrc.json

docs
README.md
vercel.json
*.md
.DS_Store
